.loginBox {
  width: 480px;
  margin: auto;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form {
  width: 480px;
  margin: 24px auto 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.input_wrapper {
  width: 480px;
}

.login_footer {
  margin-bottom: 16px;
}

.login_link {
  text-decoration: none;
  color: #4c4cff;
  margin-left: 8px;
}
