.forgot_passwordBox {
  width: 480px;
  margin: auto;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot_password_form {
  margin: 24px auto 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.forgot_password_footer {
  margin-bottom: 16px;
}

.forgot_password_link {
  text-decoration: none;
  color: #4c4cff;
}
