.ordersSummary {
  margin-top: 100px;
}
.ordersSummaryLists {
  display: flex;
  gap: 36px;
  margin-bottom: 60px;
}
.ordersListArea {
  width: 272px;
}
.ordersListTitle {
  margin-bottom: 24px;
}
.preparingOrderItem {
  list-style-type: none;
  width: 136px;
}
.readyOrderItem {
  color: #00cccc;
  list-style-type: none;
  width: 136px;
}
.ordersTotal {
  margin-bottom: 60px;
}
