.mainModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalHeader {
  width: 640px;
  height: 64px;
  padding: 60px 40px 0;
}

.center {
  text-align: center;
  margin-top: 60px;
}

.imageWrap {
  height: 240px;
  width: 520px;
  padding-bottom: 16px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ingredientName {
  color: #f2f2f3;
  min-height: 30px;
  width: 520px;
  padding-bottom: 32px;
  margin: auto;
  text-align: center;
}

.paramArea {
  display: grid;
  grid-template-columns: 120px 112px 112px 112px;

  justify-content: space-between;
  min-height: 56px;
  width: 520px;
  padding-bottom: 60px;
}
.paramItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.paramName {
  margin: auto;
}

.paramData {
  margin: auto;
}
